html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Nimbus Sans L', sans-serif;
}
.page {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0;
    background-image: url(assets/images/Website_achtergrond.jpg);
    background-size: cover;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.bannertitle {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
.logo {
    display: flex;
    flex: 0;
    align-items: center;
    background-image: url(assets/images/logo.jpg);
    background-size: cover;
    padding: 8px;
    background-position: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.menu a {
    color: white;
}

a {
    color: #1E274A;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #E8308A;
}

.menu {
    flex: 0;
    display: flex;
    background: #1E274A;
    flex-basis: 50px;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    margin-top: -20px;
}
.menu > a {
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;
}
.menu > li:not(:last-child) {
    margin-right: 20px;
}

.active {
    color: red;
}

ul {
    list-style: none;
}

ul li:not(:last-child):after {
    position: relative;
    right: -12px;
    margin-left: 20px;
    margin-right: 20px;
    content: '|';
    color: white;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: #1E274A;
}

/* Dropdown Button */
.dropbtn:hover {
  color: #E8308A;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
  z-index: 1;
  border-color: black;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a:hover {
  color: #E8308A;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    color: #E8308A;
    font-weight: bold;
}

@media(min-width: 858px){
    .logo {
        min-height:70px;
    }
}
@media(max-width:857px){
    .bannertitle {
        font-size: 32px;
        font-family: 'Nimbus Sans L', sans-serif;
    }
    .logo {
        min-height: 40px;
    }
}

@font-face {
    font-family: "Nimbus Sans Bold";
    src: url(assets/fonts/NimbusSanL-Bol.otf);
}
@font-face {
    font-family: "Nimbus Sans Regular";
    src: url(assets/fonts/NimbusSanL-Reg.otf);
}
@font-face {
    font-family: "Nimbus Sans It";
    src: url(assets/fonts/NimbusSanL-Ita.otf);
}